rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read for uploaded content
    match /{allPaths=**} {
      allow read: if true;
    }

    // Allow users to upload files under their user folder paths only
    match /songs/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 20 * 1024 * 1024 // <20MB
        && (request.resource.contentType.matches('audio/.*') || request.resource.contentType.matches('application/octet-stream'));
      allow read: if true;
    }

    match /covers/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId
        && request.resource.size < 5 * 1024 * 1024 // <5MB
        && request.resource.contentType.matches('image/.*');
      allow read: if true;
    }
  }
}
